include ../layout/default.pug

block page-content
	h1(class="text-center") Add
	form(class="user-input-form",action="/cms/contact/create",method="POST",enctype="multipart/form-data")
		div(class="form-control")
			label(class="control__label",for="platform") Platform
			input(id="platform",class="control__input",type="text",name="platform",placeholder="ie. Github, Instagram...")
			//- span(class="control__text") ie. Github, Instagram...
		div(class="form-control")
			label(class="control__label",for="handle") Handle
			input(id="handle",class="control__input",type="text",name="handle",placeholder="ie. @handle")
			//- span(class="control__text") ie. @handle
		div(class="form-control")
			label(class="control__label",for="url") URL
			input(id="url",class="control__input",type="url",name="url",placeholder="https://www...")
			//- span(class="control__text") https://www...
		div(class="form-control")
			label(class="control__label",for="icon") Icon
			input(id="icon",class="control__input",type="file",name="icon")
		input(class="btn",type="submit")