extends ../layout/default.pug

block page-content
	h1(class="text-center") Contact
	table.text-center.m-auto
		thead
			tr
				th Platform
				th Name
				th Link
				th Icon
		tbody
			each method in contactMethods
				tr
					td= method['platform'].name
					td= method.name
					td= method.link
					td= method['platform'].icon