extends ../layout/default.pug

block page-content
	script(src='/scripts/date-verification.js' defer)
	script(src='/scripts/current-employment-toggle.js' defer)
	h1.text-center Add Employment
	strong
		p(class="error text-center")
	form(class="user-input-form",action="/cms/employment/create",method="POST")
		div(class="form-control")
			label(class="control__label",for="title") Title
			input(id="title",class="control__input",type="text",name="title",placeholder="Job title..." required)
		div(class="form-control")
			label(class="control__label",for="employer") Employer
			input(id="employer",class="control__input",type="text",name="employer",placeholder="Employer..." required)
		div(class="form-control")
			label(class="control__label",for="description") Description
			input(id="description",class="control__input",type="text",name="description",placeholder="Description..." required)
		div(class="form-control")
			label(class="control__label",for="start-month") Start Month
			select(id="start-month",class="control__input",name="start_month" required)
				each month in ['January','February','March','April','May','June','July','August','September','October','November','December']
					option(value=month)= month
		div(class="form-control")
			label(class="control__label",for="start-year") Start Year
			input(id="start-year",class="control__input",type="number",max=(new Date().getFullYear()),name="start_year",placeholder="Start Year..." required)
		div(class='form-control')
			input(id='is-current-employment',class='control__input',type='checkbox')
			label(for='is-current-employment') Current
		div(class="form-control")
			label(class="control__label",for="end-month") End Month
			select(id="end-month",class="control__input",name="end_month" required)
				each month in ['January','February','March','April','May','June','July','August','September','October','November','December']
					option(value=month)= month
		div(class="form-control")
			label(class="control__label",for="end-year") End Year
			input(id="end-year",class="control__input",type="number",max=(new Date().getFullYear()),name="end_year",placeholder="End Year..." required)
		input(class="btn",type="submit")