extends ../layout/default.pug

block page-content
	h1(class="text-center") Projects
	table.text-center.m-auto
		thead
			tr
				th Title
				th Description
				th Github
				th Website
		tbody
		each project in projects
			tr
				td= project.title
				td= project.description
				td= project.github_url
				td= project.live_url