/*
	  Table of Contents
	==========================
	1. Global
	2. Utility Classes
	3. Header
	4. Body
	5. Media Queries
*/
/**************/
/*   Global   */
/**************/
:root {
	--snow-drif: rgb(237,243,238);
	--gray: rgb(140,146,153);
	--outer-space: rgb(50, 60, 67);
	--charcoal: rgb(60,84,106);
	--lapis-lazuli: rgb(69,108,144);
	--blue-gray: rgb(87, 155, 220);
	--turqoise: rgb(63,205,225);
	--cyan: rgb(38,255,230);
	--text-color: rgb(116,116,116);

	--raisin-black: rgb(40,41,45);
	--carbon-fiber: rgb(45,45,45);
/*
	--color-start: rgb(11,29,81);
	--color-end: rgb(69, 108, 144);
	--test: rgb(17,29,74);*/
}
html, body {
	background-color: var(--snow-drif);
	margin: 0rem;
	font-size: 16px;
	width: 100vw;
	height: 100vh;
	box-sizing: content-box;
}
main {
	padding: 0rem 1rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}
ul {
	list-style: none;
	padding:0rem;
}
button {
	background:none;
	border: none;
}
button:hover {
	color: white;
	cursor: pointer;
}
button:active {
	color: var(--accent-color);
}
a {
	text-decoration: none;
	color: var(--text-color);
}
a:hover {
	color: var(--snow-drif);
}
a:active {
	color: var(--accent-color);
}
/***********************/
/*   Utility Classes   */
/***********************/
.flex-wrapper {
	display: flex;
	align-items: center;
}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
}
.text-center {
	text-align: center;
}
.m-auto {
	margin: auto;
}
.btn {
	background-color: var(--cyan);
	box-shadow: 2px 2px 2px var(--charcoal);
	outline:none;
	padding:0.5rem 1.5rem;
	font-weight:bold;
	border:none;
	border-radius:5px;
	color:black;
	margin: 0rem auto 2rem auto;
	display: block;
	width: fit-content;
}
.btn:hover {
	background-color: var(--turqoise);
	box-shadow: 2px 2px 6px var(--charcoal);
	cursor:pointer;
}
.btn:focus {
	background-color: var(--turqoise);
}
.form-control {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom:2rem;
	gap:0.5rem;
}
.control-wrapper {
	position: relative;
}
.control__input {
	background-color:transparent;
	border:none;
	border-bottom: 2px solid var(--raisin-black);
	position: relative;
	transition: 0.25s all;
	padding:0.5rem 0.75rem;
	outline:none;
	width:10rem;
	z-index: 2;
}
.control__text {
	color:var(--raisin-black);
	transition: 0.25s color, 0.25s font-size, 0.25s left, 0.25s top;
	font-size:0.9rem;
	position: absolute;
	left:0.75rem;
	top:24%;
	z-index: 1;
}
.control__input:focus {
	border-bottom:2px solid var(--turqoise);
}
.control__input::placeholder {
	color:var(--gray);
	font-size:0.75rem;
}
.control__input:focus::placeholder {
	color:pink;
}
.control__input:focus + .control__text {
	color:var(--gray);
	font-size:0.75rem;
	left:0.25rem;
	top:-20%;
}
input.control__input[type='file'] {
	border:none;
}
input.control__input[type='file']::file-selector-button {
	display: block;
	margin: auto;
}
:is(input.control__input[type='file']) {
	width:5.3rem;
}
form.user-input-form {
	width:80%;
	max-width:45rem;
	margin:auto;
}
/**************/
/*   Header   */
/**************/
.site-header {
	background-color: var(--carbon-fiber);
	backdrop-filter:blur(15px);
	padding: 0rem 2.5rem;
}
ul.navigation-list {
	gap: 3rem;
}
.navigation-logout__link {
	color: var(--text-color);
}
p.navigation-link__text {
	margin: 0rem;
	padding-top: 0.5rem;
}
/************/
/*   Body   */
/************/
table, th, td {
	border-collapse: collapse;
}
tbody > tr:nth-child(odd) {
	background-color: white;
}
tbody > tr:hover {
	background-color: var(--turqoise);
}
th, td {
	padding: 1rem 1.5rem;
}
th {
	background-color: var(--lapis-lazuli);
	border-bottom: 2px solid var(--charcoal);
	color: white;
}
td {
	border-bottom: 2px solid var(--lapis-lazuli);
}
td.controls tr {
	background-color: transparent;
}
td.controls td {
	display: flex;
	column-gap: 0.5rem;
	padding: 0rem;
	border:none;
}
td.controls button {
	font-size: 0.9rem;
	padding: 0rem;
}
td.controls a {
	color: black;
}
td.controls a:hover {
	color: white;
}
/**********************/
/*   Media Queries   */
/*********************/
@media only screen and (min-width: 600px) {
	.form-control {
		flex-direction: row;
		justify-content: space-between;
	}
	label.control__label {
		margin-left: 5rem;
	}
}