/*
	  Table of Contents
	==========================
	1. Global
	2. Utility Classes
	3. Header
*/
/**************/
/*   Global   */
/**************/
:root {
	--snow-drif: rgb(237,243,238);
	--gray: rgb(140,146,153);
	--outer-space: rgb(50, 60, 67);
	--charcoal: rgb(60,84,106);
	--lapis-lazuli: rgb(69,108,144);
	--blue-gray: rgb(87, 155, 220);
	--turqoise: rgb(63,205,225);
	--cyan: rgb(38,255,230);
	--text-color: rgb(116,116,116);

	--raisin-black: rgb(40,41,45);
	--carbon-fiber: rgb(45,45,45);
/*
	--color-start: rgb(11,29,81);
	--color-end: rgb(69, 108, 144);
	--test: rgb(17,29,74);*/
}
html, body {
	background-color: var(--snow-drif);
	margin: 0rem;
	font-size: 16px;
	width: 100vw;
	height: 100vh;
	box-sizing: content-box;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}
ul {
	list-style: none;
	padding:0rem;
}
button {
	background:none;
	border: none;
}
button:hover {
	color: white;
	cursor: pointer;
}
button:active {
	color: var(--accent-color);
}
a {
	text-decoration: none;
	color: var(--text-color);
}
a:hover {
	color: var(--snow-drif);
}
a:active {
	color: var(--accent-color);
}
/***********************/
/*   Utility Classes   */
/***********************/
.flex-wrapper {
	display: flex;
	align-items: center;
}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
}
.text-center {
	text-align: center;
}
.m-auto {
	margin: auto;
}
/**************/
/*   Header   */
/**************/
.site-header {
	background-color: var(--carbon-fiber);
	backdrop-filter:blur(15px);
	padding: 0rem 2.5rem;
}
ul.navigation-list {
	gap: 3rem;
}
.navigation-logout__link {
	color: var(--text-color);
}
p.navigation-link__text {
	margin: 0rem;
	padding-top: 0.5rem;
}